div.login-container{
	margin-top:100px;
}
img.logo{
	max-width:50%;
	margin-bottom:15px;
}
span.error{
	margin-left:10px;
	font-style: italic;
	color: #A94442;
}
input.error{
	border: 1px solid #A94442;
	/*color: #A94442;*/
}